@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --green: #637555;
    --red: #bf616a;
}

html {
}
body {
    color: #eceff4;
    background-color: #3b4252;
}
a {
    color: #eceff4;
    text-decoration: underline;
}

h1 { @apply text-4xl font-bold mb-6; }
h2 { @apply text-3xl mb-3;}
h3 { @apply text-2xl mb-2;}
ul > li { @apply list-disc; }
p { @apply mb-5; }

#main {
    border: 1px solid #777;
    max-width: 1340px;
    margin-top: 4ex;
    margin-left: auto;
    margin-right: auto;

    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4ex;

    display: flex;
    flex-direction: column;

    background-color: #2e3440;
    box-shadow: 1px 2px 8px #221111;
}

#editor {
    display: block;
    width: 100%;
    min-width: 350px;
    height: 500px;
    margin-bottom: 1rem;
    resize: none;
    background-color: #4c566a;
    color: #eceff4;
}

button {
    background-color: #81a1c1;
    padding: 1ex 1.5rem;
    /* box-shadow: 1px 2px 8px #221111; */
}

.field {
    display: block;
    margin-bottom: 2ex;
}

.nav {
}

.notification {
    margin-bottom: 2ex;
}
.notification .title {
    padding: 1ex .5rem;
}
.notification .message{
    padding: .5ex .5rem;
}

.notification.success {
    background-color: var(--green);
}
.notification.fail {
    background-color: var(--red);
}
